# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env
.env.*

# Node / Next.js
node_modules/
.next/
out/
.npmrc

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker
*.log
/.docker

